.loading{
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  background-color: whitesmoke;
  width:100%;
  height:100%;
  /*background-repeat:no-repeat;
  background-position:center;
  background-attachment: fixed ;
  background-size :cover;*/
  transition: all 1.0s ease-out;
}
.loading_sentence{
    text-align: center;
    width:100%;
    height:10%;
    font-size:x-large;
    color: black;
    margin-bottom: 10px;
}

