.nav_bar, .nav_header{
    margin-left:0px;
    margin-right:0px;
}
.nav_header{
    display: block;
    border-bottom: 1px solid rgba(117, 102, 102, 0.4);
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.4);

    height:8%;
    margin-bottom: 40px;
    position:fixed;
    top:0px;
    width:100%;
}
.nav_bar{
    display: block;
    margin-top: 10px;
    position:relative;
    width:100%;
    left:35%;
    top:12px;

}
a{
    display:inline-block;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: 'Open Sans';
    margin: 0px 15px;
}
