
.fade_out_greeting{
    opacity: 0;
    transition: 0.5s;
}

.fade_in_greeting{
    animation: fadein 3s;
}
@keyframes fadein {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
    
}