.nav_bar{
    position:sticky;
    top:37px;
    padding: 20px 0px;
    /*background-color: white;*/
    
}
.nav{
    display:flex;
    justify-content: center;
    width:100%;
  
}
.nav_list{
    display: flex;
    width:55%;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.nav_link span{
    color:whitesmoke;
    font-size:large;
    font-weight: bold;
}
.nav_link:visited{
    text-decoration: none;
}